<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/create_new_quiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/create_new_quiz.js"></script>
</head>

<body>
  <!-- QUIZ FORM -->
  <div id="quiz-form">
    <h1>Create Quiz</h1>
    <form id="quiz-info-form" action='/create_new_quiz' method="POST">
      <div class="quiz-holder">
        <div class="quiz-title">
          <label for="quiz-title-input">Title</label>
          <br>
          <input type="text" placeholder="Quiz Title" class="quiz-title-input" name="quiz-name">
        </div>
        <div class="qz_category"> 
          <label for="category">Category</label>
          <br>
          <!--RADIO BUTTONS -->
          <div>
            <input type="radio" class="quiz-category" value="music" name="quiz-category">
            <label for="music-category">Music</label>
          </div>

          <div>
            <input type="radio" class="quiz-category" value="arts" name="quiz-category">
            <label for="arts-category">Arts</label>
          </div>
          <div>
            <input type="radio" class="quiz-category" value="science" name="quiz-category">
            <label for="science-category">Science</label>
          </div>
          <div>
            <input type="radio" class="quiz-category" value="math" name="quiz-category">
            <label for="math-category">Math</label>
          </div>
          <div>
            <input type="radio" class="quiz-category" value="history" name="quiz-category">
            <label for="history-category">History</label>
          </div>
          <div>
            <input type="radio" class="quiz-category" value="other" name="quiz-category">
            <label for="other-category">Other</label>
          </div>
        </div>
        <div class="quiz-description">
          <label for="quiz-description">Descripton</label>
          <br>
          <textarea id="quiz-description" placeholder="Quiz Description Here..." name="quiz-description"></textarea>
        </div>
        <div class="quiz-public">
          <label>Make your quiz public</label>
          <br>
          <div>
            <label for="is_public">Yes</label>
            <input type="radio" class="quiz-is_public" value="TRUE" name="quiz-is_public">
            <label for="is_public">No</label>
            <input type="radio" class="quiz-is_public" value="FALSE" name="quiz-is_public">
          </div>
        </div>
        <div>
          <button type="submit" class="submit-create-quiz-btn">Create Quiz</button>
        </div>
      </div>
       
      </form>
    </div>

      

  <!-- QUESTION FORM -->
  <div>
    <form id="quiz-question-form" action="/create_new_quiz" method="POST">
      <label for="question-input">Question</label>
      <input name='question' type="text" placeholder="Write your question here..." class="question-form">

      <label for="answers">Answer Options</label>
      <input name="option1" type="text" placeholder="Write answer option 1..." class="question-form">
      <input name="option2" type="text" placeholder="Write answer option 2..." class="question-form">
      <input name="option3" type="text" placeholder="Write answer option 3..." class="question-form">
      <input name="option4" type="text" placeholder="Write answer option 4..." class="question-form">

      <label for="answers">Correct Answer</label>
      <input name="correct-answer" type="text" placeholder="Correct answer here..." class="question-form">


      <button type="submit">Add</button>
    </form>
  </div>
</body>

</html>
