<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/create_new_quiz.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/create_new_quiz.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <h2 class="create-quiz-header">Create your own quiz!</h2>

  <!-- QUIZ FORM -->
  <div>
    <section class="create-quiz-section">
      <form id="quiz-info-form" action='/create_new_quiz' method="POST">
        <label class="quiz-title-label" for="quiz-title-input">Title</label>
        <input type="text" placeholder="Quiz Title" class="quiz-title-input rounded-input" name="quiz-name">

        <div class="category-and-radio-buttons">
          <label class="quiz-category-label" for="category">Category</label>

          <!--RADIO BUTTONS -->

          <div class="category-input-value-pair">
            <input type="radio" class="quiz-category" value="Music" name="quiz-category">
            <label for="music-category">Music</label>
          </div>

          <div class="category-input-value-pair">
            <input type="radio" class="quiz-category" value="Arts" name="quiz-category">
            <label for="arts-category">Arts</label>
          </div>

          <div class="category-input-value-pair">
            <input type="radio" class="quiz-category" value="Science" name="quiz-category">
            <label for="science-category">Science</label>
          </div>

          <div class="category-input-value-pair">
            <input type="radio" class="quiz-category" value="Math" name="quiz-category">
            <label for="math-category">Math</label>
          </div>

          <div class="category-input-value-pair">
            <input type="radio" class="quiz-category" value="History" name="quiz-category">
            <label for="history-category">History</label>
          </div>

          <div class="category-input-value-pair">
            <input type="radio" class="quiz-category" value="Other" name="quiz-category">
            <label for="other-category">Other</label>
          </div>
        </div>

        <div class="quiz-description-input">
          <label class="quiz-description-label" for="quiz-description">Descripton</label>
          <textarea id="quiz-description" class="rounded-input" placeholder="Quiz Description Here..."
            name="quiz-description"></textarea>
        </div>

        <div class="quiz-is-public-input">
          <p class="quiz-is-public-label">Make your quiz public</p>

          <div class="category-input-value-pair">
            <input type="radio" class="quiz-is_public" value="FALSE" name="quiz-is_public">
            <label for="is_public">No</label>
          </div>

          <div class="category-input-value-pair">
            <input type="radio" class="quiz-is_public" value="TRUE" name="quiz-is_public">
            <label for="is_public">Yes</label>
          </div>
        </div>
        <div>
          <button class="create-quiz-button" type="submit">Create Quiz</button>
        </div>
      </form>
    </section>
  </div>
  <!-- QUESTION FORM -->
  <div>

    <h2 class="create-questions-header">Add some questions to your quiz!</h2>

    <section class="create-question-section">
      <form id="quiz-question-form" action="/create_new_quiz" method="POST">

        <div class="question-input-div">
          <label class="quiz-question-label" for="question-input">Question</label>
          <input name='question' type="text" placeholder="Write your question here..."
            class="question-form rounded-input">
        </div>

        <div class="question-answer-options-div">
          <label class="quiz-answer-options-label" for="answers">Answer Options</label>
          <input name="option1" type="text" placeholder="Write answer option 1..." class="question-form rounded-input">
          <input name="option2" type="text" placeholder="Write answer option 2..." class="question-form rounded-input">
          <input name="option3" type="text" placeholder="Write answer option 3..." class="question-form rounded-input">
          <input name="option4" type="text" placeholder="Write answer option 4..." class="question-form rounded-input">
        </div>

        <div class="question-correct-answer-div">
          <label class="quiz-correct-answer-label" for="answers">Correct Answer</label>
          <input name="correct-answer" type="text" placeholder="Correct answer here..."
            class="question-form rounded-input">
        </div>

        <button class="question-submit-button" type="submit">Add</button>
        <a class="return-home-link" href="/">Return to Home</a>
      </form>
    </section>
  </div>

  <footer class="nav-bar-footer">
    <nav class="mobile-nav-bar">
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <a href="/explore"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a href="/create_new_quiz"><i class="fa-solid fa-plus"></i></a>
      <a href="/login"><i class="fa-solid fa-user"></i></a>
    </nav>
  </footer>
</body>

</html>
