<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <div>
    <p>QUIZ NAME</p>
    //ITERATE QUESTIONS
    <div>
      <p>QUESTION NAME</p>
      <ul>
        //OPTION 1
        <li>
          <input type="radio" name="answer" id="option-1" class="answer">
          <label for="option-1" id="b_text">Answer</label>
        </li>
        //OPTION 2
        <li>
          <input type="radio" name="answer" id="option-2" class="answer">
          <label for="option-2" id="b_text">Answer</label>
        </li>
        //OPTION 3
        <li>
          <input type="radio" name="answer" id="option-3" class="answer">
          <label for="option-3" id="b_text">Answer</label>
        </li>
        //OPTION 4
        <li>
          <input type="radio" name="answer" id="option-4" class="answer">
          <label for="option-4" id="b_text">Answer</label>
        </li>
      </ul>
    </div>
    //ITERATE QUESTIONS END
    <button type="submit">Submit</button>
  </div>


</body>

</html>
