// See: https://sass-lang.com/


// COLOR PALLETTE
$color-primary:red;
$color-secondary:blue;
$color-black : black;
$color-white: white;
$color-grey0: #f8f8f8;
$color-grey-1: #dbe1e8;
$color-grey-2: #b2becd;
$color-grey-3: #6c7983;
$color-grey-4: #454e56;
$color-grey-5: #2a2e35;
$color-grey-6: #12181b;

body,
html {
  margin: 0;
  // padding:0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  padding: 10px;

  a {
    text-decoration: none;

    i {
      font-size: 3rem;
    }

    &:visited {
      color: blue;
    }
  }
}

.quiz-header {
  text-align: center;
}

.quizDisplay {
  border: 1px solid $color_gray;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40%;
  margin-bottom: 1%;
  background-color: rgba(237, 246, 246, 0.944);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.quizName {
  font-size: medium;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.QuizFooter {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $color_gray;
  margin-right: 4%;
}

.quizCategory,
.quizName,
.quizDescription {
  margin-left: 3%;
}
